@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@400;600&display=swap");

/* Color Theme Swatches in RGBA */
.home-decor-1-rgba {
	color: rgba(140, 31, 91, 1);
}
.home-decor-2-rgba {
	color: rgba(252, 252, 252, 1);
}
.home-decor-3-rgba {
	color: rgba(215, 217, 217, 1);
}
.home-decor-4-rgba {
	color: rgba(39, 115, 107, 1);
}
.home-decor-5-rgba {
	color: rgba(21, 38, 16, 1);
}

* {
	box-sizing: border-box;
}
html,
body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-flow: column nowrap;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	background: url(.././images/home-decor-logo-grey-small.png);
	background-repeat: repeat;
	background-color: rgba(252, 252, 252, 1);
	overflow-x: hidden;
	width: 100%;
}

h1,
h3 {
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 300;
	color: rgba(140, 31, 91, 1);
}
h3 {
	margin: 1rem auto 2rem;
	text-shadow: -1px 1px 3px rgba(252, 252, 252, 1);
}

h1 {
	margin: 0 auto;
	padding-left: 2rem;
	font-size: 2rem;
	text-shadow: -1px 1px 1px rgba(215, 217, 217, 1);
}

a.nav-link {
	color: rgba(21, 38, 16, 1) !important;
}

a,
footer i,
i:hover,
i:active,
button.navbar-toggler {
	color: rgba(140, 31, 91, 1) !important;
	cursor: pointer;
}

a.nav-link:active,
a.nav-link:hover {
	color: rgba(140, 31, 91, 1) !important;
	text-decoration: underline;
}

a.active {
	background-color: rgba(140, 31, 91, 1);
	color: rgba(252, 252, 252, 1) !important;
	border-radius: 5px;
}
a.active:hover,
a.active:active {
	color: rgba(252, 252, 252, 1) !important;
	text-decoration: underline;
}

.navbar {
	padding: 0.25rem 1rem;
}

.nav-container {
	border-bottom: 2px solid rgba(215, 217, 217, 1) !important;
}
.navbar-brand img {
	max-height: 60px !important;
	padding: 0;
}
a.navbar-brand {
	padding: 0;
	color: rgba(140, 31, 91, 1) !important;
}
ul.navbar-nav {
	width: 100% !important;
	position: relative;
	align-items: baseline;
}

ul.navbar-nav li {
	margin-right: 1rem;
}

input.form-control {
	margin: 0 !important;
	max-width: 180px;
	border: 1px solid rgba(140, 31, 91, 1);
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	font-size: 0.9rem !important;
}

.form-inline {
	display: flex;
	flex-flow: row nowrap;
	box-shadow: 2px 2px 5px rgba(215, 217, 217, 0.5);
}

.btn {
	border: 1px solid rgba(140, 31, 91, 1);
	background-color: rgba(140, 31, 91, 1);
	color: rgba(252, 252, 252, 1);
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	font-size: 0.95rem !important;
}

.bg-light {
	background-color: rgba(252, 252, 252, 1) !important;
}

.products-header-block h1 {
	margin: 1.5rem 1rem 0.5rem;
}

#home-decor-logo-products {
	max-height: 40px;
	margin-top: 1rem;
	text-shadow: -1px 1px 3px rgba(252, 252, 252, 1);
}
#products-header-img h3 {
	max-width: 80%;
	text-align: center;
	font-size: 1.5rem;
	margin-top: 0;
}

#products-header-img {
	background-image: linear-gradient(
			rgb(255, 255, 255, 0.1),
			rgba(255, 255, 255, 0.1)
		),
		url(.././images/all-products-background_600x266.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-blend-mode: screen;
	height: 266px;
	display: flex;
	flex-flow: column nowrap;
}

.container {
	display: flex;
	flex-flow: row wrap;
	min-width: 100%;
	min-height: 100%;
	margin: 2rem auto;
	padding-bottom: 1rem;
	min-height: 100%;
	justify-content: center;
}

.product img {
	width: 100%;
	max-width: 600px;
	filter: opacity(0.9);
}
.product-category {
	font-size: 0.8rem;
	color: rgba(21, 38, 16, 0.6);
}

.link-container,
.product {
	position: relative;
	margin: 0 1rem 1rem;
	background-color: rgba(252, 252, 252, 1);
	border: 10px solid rgba(252, 252, 252, 1);
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(215, 217, 217, 0.5);
}
a.living-link h3,
a.dining-link h3,
a.sleeping-link h3 {
	background-color: rgba(252, 252, 252, 0.1);
	padding: 0 0.5rem;
	border-radius: 10px;
	position: absolute;
	top: 18%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.8rem;
}
a.living-link h3:hover,
a.dining-link h3:hover,
a.sleeping-link h3:hover {
	padding: 1 1.5rem;
	border: 1px solid rgba(140, 31, 91, 1);
	background-color: rgba(252, 252, 252, 0.5);
	border-radius: 5px;
	text-decoration: underline;
}
.link-container.living {
	background-image: url(../images/Background_HomeDecor_570x450.jpg);
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 450px;
	max-width: 570px;
}

.link-container.dining {
	background-image: url(../images/home-decor-dining-background-370x450.jpg);
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 450px;
	max-width: 370px;
}

.link-container.sleeping {
	background-image: url(../images/home-decor-sleeping-background-370x450.jpg);
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 450px;
	max-width: 370px;
}

.home-decor-block {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
}

.home-decor-block img {
	max-height: 60px;
	padding: 0 2rem;
	margin: 0 auto;
}

.view-all-link {
	margin: 2rem auto;
}

.view-all-link a {
	padding: 0.5rem 1.5rem;
	border: 1px solid rgba(140, 31, 91, 1);
	background-color: rgba(252, 252, 252, 1);
	color: rgba(140, 31, 91, 1) !important;
	border-radius: 5px;
	text-decoration: underline;
	box-shadow: 2px 2px 3px rgba(21, 38, 16, 0.4);
}
.view-all-link a:hover {
	background-color: rgba(140, 31, 91, 1);
	color: rgba(252, 252, 252, 1) !important;
}

.view-all-link a:active {
	text-decoration: underline;
}

footer {
	margin-top: 0.5rem;
	background-color: rgba(252, 252, 252, 1);
	display: flex;
	flex-shrink: 0;
	flex-flow: column nowrap;
	align-items: center;
	color: rgba(21, 38, 16, 0.7);
	padding: 0.5rem 1rem;
	border-top: 2px solid rgba(215, 217, 217, 1) !important;
}

footer i {
	font-size: 2rem;
}

.mail-link {
	margin-right: 0.5rem;
	max-height: 2rem;
	text-shadow: 2px 2px 3px rgba(21, 38, 16, 0.4);
}

.map-link {
	margin-right: 0.5rem;
	max-height: 2.2rem;
	text-shadow: 2px 2px 3px rgba(21, 38, 16, 0.4);
}

.footer-center-column {
	margin: 2rem;
	width: 100%;
	text-align: left;
}

footer a {
	width: 100%;
	text-align: left;
}

footer div {
	width: 100%;
	text-align: left;
	line-height: 2rem;
}

.sticky-footer-wrapper {
	display: flex;
	flex-flow: column nowrap;
	flex: 1 0 auto;
}

@media (max-width: 480px) {
	#products-header-img {
		visibility: hidden;
		height: 140px;
	}

	.link-container.living {
		background-image: url(../images/Background_HomeDecor_380x300.jpg);
		height: 300px;
		max-width: 380px;
	}

	.link-container.dining {
		background-image: url(../images/home-decor-dining-background-247x300.jpg);
		height: 300px;
		max-width: 247px;
	}

	.link-container.sleeping {
		background-image: url(../images/home-decor-sleeping-background-247x300.jpg);
		height: 300px;
		max-width: 247px;
	}

	#products-header-img h3,
	#home-decor-logo-products {
		visibility: visible;
	}
}

@media (min-width: 680px) {
	#products-header-img {
		background-image: linear-gradient(
				rgb(255, 255, 255, 0.1),
				rgba(255, 255, 255, 0.1)
			),
			url(.././images/all-products-background_800x354.jpg);
		height: 354px;
	}

	#products-header-img h3 {
		font-size: 1.8rem;
	}
	#home-decor-logo-products {
		height: 100px;
		margin-top: 2rem;
	}
}

@media (min-width: 800px) {
	#products-header-img {
		background-image: linear-gradient(
				rgb(255, 255, 255, 0.1),
				rgba(255, 255, 255, 0.1)
			),
			url(.././images/all-products-background_1000x443.jpg);
		height: 443px;
	}

	footer {
		flex-flow: row nowrap;
		justify-content: flex-end;
		align-items: flex-end;
	}

	.footer-center-column {
		margin: 0;
		width: 50%;
		text-align: center;
	}

	footer a {
		width: 25%;
		text-align: left;
	}

	footer div {
		width: 25%;
		text-align: right;
	}
	.mail-link {
		max-height: 2.2rem;
	}
	.map-link {
		max-height: 2.4rem;
	}
}

@media (min-width: 1000px) {
	#products-header-img {
		background-image: linear-gradient(
				rgb(255, 255, 255, 0.1),
				rgba(255, 255, 255, 0.1)
			),
			url(.././images/all-products-background_1200x531.jpg);
		height: 531px;
		background-position: bottom left;
	}

	.container {
		flex-flow: row nowrap;
		align-items: flex-end;
	}
	.link-container {
		position: relative;
		margin: 0 0.5rem;
	}

	.link-container.living {
		order: 2;
		background-image: url(../images/living_homedecor_500x375.jpg);
		width: 500px;
		height: 375px;
	}

	.link-container.dining {
		order: 1;
	}
	.link-container.sleeping {
		order: 3;
	}

	.home-decor-block {
		flex-flow: row nowrap;
		align-items: flex-end;
	}

	h1 {
		margin: 0;
		font-size: 2.5rem;
	}
	.home-decor-block img {
		margin: 0;
		padding: 0;
	}
}
