@font-face {
	font-family: "Inter";
	font-weight: 100 900;
	font-style: normal;
	font-stretch: normal;
	src: url("Inter-roman.otf") format("opentype");
	/* src: url("Inter.otf") format("opentype");
	src: url("Inter.woff2") format("woff2"); */
	font-display: swap;
}
